/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# media
/public/frontend/template/img
/public/frontend/template/audio
/public/frontend/web/img/
/public/gallery_img/
/public/template/audio/
/public/upload_img/

# editor
.idea
.vscode
